_build
stix/data

# ignore the IDL UI metadata fpga
.metadata

# ignore personal startup files
startup_stix_ssw*
stix_personal_startup*
dev/.project
iunit/.project
lldp/**/.project


# ignore the fpga data folder
fpga

# ignore the Default save folder
Default

# ignore big data files, will be loaded separately
stix/dbase/sim/stx_counts.sav
stix/dbase/fpga/rnd_seq_testing/ES*
stix/dbase/demo/flare_detection/flare_detection_simulation_data.sav

# ignore test content
lldp/testing/TEST_OUTPUT/failed/*
lldp/testing/TEST_OUTPUT/logs/*
lldp/testing/TEST_OUTPUT/temporary/*
lldp/testing/TEST_OUTPUT/products/*

# ignore scenario output folders and contents
stx_scenario_*

# ignore stuff that is laying around in the root folder
/*.bin
/*.pro
/*.xml
/*.fits

.vscode

# ignore some personal / IDL stuff
.project
stix/idl/fred

