Ewan Dickson <ewan.dickson@uni-graz.at> Ewan Dickson <35922612+grazwegian@users.noreply.github.com>
Shane Maloney <shane.maloney@dias.ie> Shane Maloney <shane.maloney@tcd.ie>
Shane Maloney <shane.maloney@dias.ie> samaloney <shane.maloney@tcd.ie>
Shane Maloney <shane.maloney@dias.ie> Shane Maloney <maloneys@tcd.ie>

FredericSchuller <fschuller@aip.de> Frederic Schuller <36623402+FredSchuller@users.noreply.github.com>

Paolo Massa <paolo.massa@fhnw.ch> paolomassa <paolocrmassa@gmail.com>
Paolo Massa <paolo.massa@fhnw.ch> Paolo Massa <64010598+paolomassa@users.noreply.github.com>
Paolo Massa <paolo.massa@fhnw.ch> paolomassa <64010598+paolomassa@users.noreply.github.com>

Laszlo Etesi <laszlo.etesi@ateleris.ch> Laszlo Istvan Etesi <laszlo.etesi@fhnw.ch>
Laszlo Etesi <laszlo.etesi@ateleris.ch> Laszlo Istvan Etesi <laszlo.etesi@knowleech.ch>
Laszlo Etesi <laszlo.etesi@ateleris.ch> Laszlo I. Etesi <laszlo.etesi@fhnw.ch>

Nicky Hochmuth <nicky.hochmuth@ateleris.ch> NickyHochmuth <nicky@horzelbuben.de>
Nicky Hochmuth <nicky.hochmuth@ateleris.ch> Nicky Hochmuth <nicky.thecrag@gmail.com>
Nicky Hochmuth <nicky.hochmuth@ateleris.ch> nicHoch <user@ax.i4ds.ch>
Nicky Hochmuth <nicky.hochmuth@ateleris.ch> nicHoch <nicky@horzelbuben.de>
Nicky Hochmuth <nicky.hochmuth@ateleris.ch> Nicky Hochmuth <nicky@horzelbuben.de>

Andrea Francesco Battaglia <andreafrancesco.battaglia@gmail.com> afbattaglia <57705509+afbattaglia@users.noreply.github.com>
Andrea Francesco Battaglia <andreafrancesco.battaglia@gmail.com> Andrea Battaglia <57705509+afbattaglia@users.noreply.github.com>
Andrea Francesco Battaglia <andreafrancesco.battaglia@gmail.com> Andrea Francesco Battaglia <andrea.battaglia@fhnw.ch>

Anna Volpara <volpara@dima.unige.it> Anna Volpara <volparaanna@gmail.com>
Anna Volpara <volparaanna@gmail.com> annavolp <94917296+annavolp@users.noreply.github.com>
Anna Volpara <volparaanna@gmail.com> annavolp <volparaanna@gmail.com>
Anna Volpara <volparaanna@gmail.com> Volpara Anna <volpara@dima.unige.it>