section {
  background-color: lightsteelblue;
	display: block;
	padding: 10px;
	font-family: sans-serif;
	margin-top: 10px;
	font-weight:bold;
}

section::before {content: "Module:  " attr(name) " (" attr(alias) ")"}

description  {
	font-weight:300;
	margin-top: 10px;
}

parameter {
	display: block;
	font-weight:300;
}

parameter:before  {
	content: attr(name) attr(type) attr(valid) attr(default);
	background-color: gray;
	position : relative;
	left: 10px;	
	font-weight:bold;
}


